* {
    font-family: 'Assistant', sans-serif;
    font-family: ui sans;

}

body {
    background: linear-gradient(to right, white, #85b5fc);
    /* לבן למעלה, כחול למטה */
    min-height: 100vh;
    margin: 0;



}

.login-box {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-left: 25px;
    padding-top: 200px;

}



.form-fields {
    margin-bottom: 15px;

}

.input-signIn {
    border-width: 0.01;
    width: 464px;
}

.input-signUp {
    border-width: 0.01;
    width: 200px;
    margin-right: 10px;
}


#parg-signIn {
    color: rgb(96, 96, 96);
    font-weight: normal;
    font-size: 16px;
}

.w-38 {
    width: 34%;
}

.w-10 {
    width: 16%;
}

.tallBtnSign {
    height: 50px;
    line-height: 60px;
    font-size: 18px;
    padding: 0 20px;
}

.BtnDownload {
    height: 53px;
    line-height: 60px;
    font-size: 18px;
    padding: 0 20px;
}


#parg-dateSignUp {
    color: rgb(96, 96, 96);
    font-size: 12px;
    margin-bottom: 2px;

}

#parg-genderSignUp {
    color: rgb(96, 96, 96);
    font-size: 12px;
    margin-bottom: 2px;
    margin-left: 138px;
}


.btn-primary {
    background-color: rgb(46, 46, 242) !important;

}


#pargTermsOfService {
    font-size: 12px;
    color: rgb(96, 96, 96);
    margin-left: 50px;
}

.linkTermsOfService {
    color: rgb(96, 96, 96);
}

.linkFooter {
    color: rgb(96, 96, 96);
    font-size: 12px;
    text-decoration: none;

}

.footerLinks {
    margin-left: 50px;

}

.downloadName {
    font-weight: bold;
}

#site-footer-note {
    font-size: 12px;
    color: rgb(96, 96, 96);
    margin-left: 150px;
}

.loginPageBtn {
      box-shadow:
        0 0 6px rgba(255, 255, 255, 0.25),
        0 0 12px rgba(255, 255, 255, 0.18),
        0 0 20px rgba(255, 255, 255, 0.12);
    transition: box-shadow 0.3s ease;
}

.btn-outline-danger {
  color: #dc3545;
  border-color: #dc3545;
}

.btn-outline-danger:hover {
  background-color: #dc3545;
  color: white;
}


